In [222]:
import pandas as pd

In [223]:
df_reg=pd.read_csv("regional_data.csv")
df_prov=pd.read_csv("province_data.csv")

In [224]:
df_reg.head()

,Date,Region_Code,Region_Name,Region_Latitude,Region_Longitude,Hospitalized_with_Symptoms,Intensive_Care,Total_Hospitalized,Tot_Home_Isolation,Total_Actually_Positive,New_Actually_Positive,Healed,Deceased,Total_Cases,Total_Medical_Swabs
0,2020-02-24 18:00:00,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,5
1,2020-02-24 18:00:00,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0
2,2020-02-24 18:00:00,4,Trentino-Alto Adige,46.499335,11.356624,0,0,0,0,0,0,0,0,0,1
3,2020-02-24 18:00:00,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,1
4,2020-02-24 18:00:00,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,10

In [225]:
df_prov.head()

,Date,Region_Code,Region_Name,Province_Code,Province_Name,Province_GeoCode,Province_Latitude,Prov_Longitude,Total_Cases
0,2020-02-24 18:00:00,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
1,2020-02-24 18:00:00,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
2,2020-02-24 18:00:00,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,2020-02-24 18:00:00,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
4,2020-02-24 18:00:00,17,Basilicata,77,Matera,MT,40.667512,16.597924,0

In [226]:
df_reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 15 columns):
Date                          1260 non-null object
Region_Code                   1260 non-null int64
Region_Name                   1260 non-null object
Region_Latitude               1260 non-null float64
Region_Longitude              1260 non-null float64
Hospitalized_with_Symptoms    1260 non-null int64
Intensive_Care                1260 non-null int64
Total_Hospitalized            1260 non-null int64
Tot_Home_Isolation            1260 non-null int64
Total_Actually_Positive       1260 non-null int64
New_Actually_Positive         1260 non-null int64
Healed                        1260 non-null int64
Deceased                      1260 non-null int64
Total_Cases                   1260 non-null int64
Total_Medical_Swabs           1260 non-null int64
dtypes: float64(2), int64(11), object(2)
memory usage: 147.7+ KB

In [227]:
df_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6420 entries, 0 to 6419
Data columns (total 9 columns):
Date                 6420 non-null object
Region_Code          6420 non-null int64
Region_Name          6420 non-null object
Province_Code        6420 non-null int64
Province_Name        6420 non-null object
Province_GeoCode     6360 non-null object
Province_Latitude    6420 non-null float64
Prov_Longitude       6420 non-null float64
Total_Cases          6420 non-null int64
dtypes: float64(2), int64(3), object(4)
memory usage: 451.5+ KB

handling nulls

In [228]:
df_prov[df_prov.isnull().any(axis=1)].head()

,Date,Region_Code,Region_Name,Province_Code,Province_Name,Province_GeoCode,Province_Latitude,Prov_Longitude,Total_Cases
15,2020-02-24 18:00:00,15,Campania,63,Napoli,NaN,40.839566,14.25085,0
122,2020-02-25 18:00:00,15,Campania,63,Napoli,NaN,40.839566,14.25085,0
229,2020-02-26 18:00:00,15,Campania,63,Napoli,NaN,40.839566,14.25085,0
336,2020-02-27 18:00:00,15,Campania,63,Napoli,NaN,40.839566,14.25085,3
443,2020-02-28 18:00:00,15,Campania,63,Napoli,NaN,40.839566,14.25085,4

In [229]:
df_prov.loc[df_prov.Province_Name=='Napoli','Province_GeoCode']='NA'

In [230]:
df_prov['Date']=pd.to_datetime(df_prov['Date'])
df_reg['Date']=pd.to_datetime(df_reg['Date'])

In [231]:
df_reg.nunique()

Date                            60
Region_Code                     20
Region_Name                     20
Region_Latitude                 21
Region_Longitude                21
Hospitalized_with_Symptoms     642
Intensive_Care                 329
Total_Hospitalized             676
Tot_Home_Isolation             814
Total_Actually_Positive        886
New_Actually_Positive          373
Healed                         521
Deceased                       468
Total_Cases                    921
Total_Medical_Swabs           1096
dtype: int64

handling duplicate region

In [232]:
dftest = df_reg[['Region_Name']]+df_reg[['Region_Latitude']].astype('str')

In [233]:
dftest=df_reg[['Region_Name']].copy()
dftest['Region_Name']=dftest['Region_Name']+df_reg['Region_Latitude'].astype('str')

In [234]:
dftest['Region_Name'].unique()

array(['Abruzzo42.35122196', 'Basilicata40.63947052',
       'Trentino-Alto Adige46.49933453', 'Calabria38.90597598',
       'Campania40.83956555', 'Emilia-Romagna44.49436681',
       'Friuli-Venezia Giulia45.6494354', 'Lazio41.89277044',
       'Liguria44.41149315', 'Lombardia45.46679409', 'Marche43.61675973',
       'Molise41.55774754', 'Piemonte45.0732745', 'Puglia41.12559576',
       'Sardegna39.21531192', 'Sicilia38.11569725', 'Toscana43.76923077',
       'Trentino-Alto Adige46.06893511', 'Umbria43.10675841',
       "Valle d'Aosta45.73750286", 'Veneto45.43490485'], dtype=object)

In [235]:
df_reg.loc[df_reg['Region_Name']=='Trentino-Alto Adige'].groupby(['Region_Latitude']).count()

,Date,Region_Code,Region_Name,Region_Longitude,Hospitalized_with_Symptoms,Intensive_Care,Total_Hospitalized,Tot_Home_Isolation,Total_Actually_Positive,New_Actually_Positive,Healed,Deceased,Total_Cases,Total_Medical_Swabs
Region_Latitude,,,,,,,,,,,,,,
46.068935,60,60,60,60,60,60,60,60,60,60,60,60,60,60
46.499335,60,60,60,60,60,60,60,60,60,60,60,60,60,60

In [236]:
indeks=['Date','Hospitalized_with_Symptoms', 'Intensive_Care',
       'Total_Hospitalized', 'Tot_Home_Isolation', 'Total_Actually_Positive',
       'New_Actually_Positive', 'Healed', 'Deceased', 'Total_Cases',
       'Total_Medical_Swabs']

indeks2=['Hospitalized_with_Symptoms', 'Intensive_Care',
       'Total_Hospitalized', 'Tot_Home_Isolation', 'Total_Actually_Positive',
       'New_Actually_Positive', 'Healed', 'Deceased', 'Total_Cases',
       'Total_Medical_Swabs']

dftest=df_reg.loc[df_reg['Region_Name']=='Trentino-Alto Adige',indeks].groupby(['Date']).sum()
dftest.set_index(df_reg.loc[(df_reg['Region_Latitude']<46.1)&(df_reg['Region_Name']=='Trentino-Alto Adige')].index, inplace=True)

for i in indeks2:
    df_reg.loc[(df_reg['Region_Latitude']<46.1)&(df_reg['Region_Name']=='Trentino-Alto Adige'),i]=dftest[i]

In [237]:
df_reg.drop(df_reg.loc[(df_reg['Region_Latitude']>46.4)&(df_reg['Region_Name']=='Trentino-Alto Adige')].index,inplace=True)

In [238]:
df_reg.loc[df_reg['Region_Name']=='Trentino-Alto Adige','Region_Latitude']=46.4337
df_reg.loc[df_reg['Region_Name']=='Trentino-Alto Adige','Region_Longitude']=11.1693

Computer performance

In [239]:
import cProfile

In [240]:
def slow_function():
    total = 0.0
    
    for i, _ in enumerate(range(10000)):
        
        for j, _ in enumerate(range(1, 10000)):
            total += (i * j)

    return total

In [241]:
cProfile.run('slow_function()', sort='time')

         4 function calls in 9.009 seconds

   Ordered by: internal time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    9.009    9.009    9.009    9.009 <ipython-input-240-0914bc0caa0e>:1(slow_function)
        1    0.000    0.000    9.009    9.009 {built-in method builtins.exec}
        1    0.000    0.000    9.009    9.009 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [242]:
%%timeit

slow_function()

9.03 s ± 6.52 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [243]:
import platform

In [244]:
print(platform.machine())
print(platform.version())
print(platform.platform())
print(platform.uname())
print(platform.system())
print(platform.processor())

x86_64
#1 SMP Wed Apr 1 19:40:12 UTC 2020
Linux-4.14.173-106.229.amzn1.x86_64-x86_64-with-glibc2.9
uname_result(system='Linux', node='ip-172-16-37-126', release='4.14.173-106.229.amzn1.x86_64', version='#1 SMP Wed Apr 1 19:40:12 UTC 2020', machine='x86_64', processor='x86_64')
Linux
x86_64

In [245]:
!pip install py-cpuinfo

Requirement already satisfied: py-cpuinfo in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (5.0.0)
You are using pip version 10.0.1, however version 20.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [246]:
import cpuinfo

from cpuinfo import get_cpu_info

for key, value in get_cpu_info().items():
    print("{0}: {1}".format(key, value))

python_version: 3.6.5.final.0 (64 bit)
cpuinfo_version: [5, 0, 0]
arch: X86_64
bits: 64
count: 4
raw_arch_string: x86_64
vendor_id: GenuineIntel
brand: Intel(R) Xeon(R) Platinum 8175M CPU @ 2.50GHz
hz_advertised: 2.5000 GHz
hz_actual: 3.1127 GHz
hz_advertised_raw: [2500000000, 0]
hz_actual_raw: [3112714000, 0]
stepping: 4
model: 85
family: 6
flags: ['3dnowprefetch', 'abm', 'adx', 'aes', 'aperfmperf', 'apic', 'arat', 'avx', 'avx2', 'avx512bw', 'avx512cd', 'avx512dq', 'avx512f', 'avx512vl', 'bmi1', 'bmi2', 'clflush', 'clflushopt', 'clwb', 'cmov', 'constant_tsc', 'cpuid', 'cx16', 'cx8', 'de', 'erms', 'f16c', 'fma', 'fpu', 'fsgsbase', 'fxsr', 'hle', 'ht', 'hypervisor', 'ida', 'invpcid', 'invpcid_single', 'lahf_lm', 'lm', 'mca', 'mce', 'mmx', 'movbe', 'mpx', 'msr', 'mtrr', 'nonstop_tsc', 'nopl', 'nx', 'ospke', 'pae', 'pat', 'pcid', 'pclmulqdq', 'pdpe1gb', 'pge', 'pku', 'pni', 'popcnt', 'pse', 'pse36', 'pti', 'rdrand', 'rdseed', 'rdtscp', 'rep_good', 'rtm', 'sep', 'smap', 'smep', 'ss', 'sse', 'sse2', 'sse4_1', 'sse4_2', 'ssse3', 'syscall', 'tsc', 'tsc_adjust', 'tsc_deadline_timer', 'tsc_known_freq', 'vme', 'x2apic', 'xgetbv1', 'xsave', 'xsavec', 'xsaveopt', 'xsaves', 'xtopology']
l3_cache_size: 33792 KB
l2_cache_size: 1024 KB
l1_data_cache_size: 32 KB
l1_instruction_cache_size: 32 KB